@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Coiny', cursive;
    line-height: 1.6;
    font-size: 18px;
}